<!DOCTYPE html>
<html lang="en">
<!--
font-family: 'Inter', sans-serif; -> menu
font-family: 'Lobster', cursive; -> logo
font-family: 'PT Serif', serif; -> para
-->




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cad Technologies</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/cad2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*font-family: 'PT Serif', serif;*/
        }
        .logoImage{
            width: 110px;
        }
        .dropdown-menu{
            background-color: #318494;
            border: none;
        }
        .dropdown-menu a{
            color: #fff;
        }
        .dropdown-menu a:hover{
            background: none;
            color: #e0ba68;
            border-bottom: 2px solid #e0ba68;
        }
        #item1,#item2,#item3,#item4{
            position: relative;
        }
        #detailed1{
            display: none;
            list-style: none;
        }
        #detailed1 li{
            line-height: 25px;
        }
        #item1:hover #detailed1{
            display: block;
            position: absolute;
            right: -80%;
            top: -5%;
            background: #318494;
            padding: 10px;
            color: #fff;
        }
        #detailed2{
            display: none;
            list-style: none;
        }
        #detailed2 li{
            line-height: 25px;
        }
        #item2:hover #detailed2{
            display: block;
            position: absolute;
            right: -70%;
            top: 0;
            background: #318494;
            padding: 10px;
            color: #fff;
        }
        #detailed3{
            display: none;
            list-style: none;
        }
        #detailed3 li{
            line-height: 25px;
        }
        #item3:hover #detailed3{
            display: block;
            position: absolute;
            right: -60%;
            top: 0;
            background: #318494;
            padding: 10px;
            color: #fff;
        }
        #detailed4{
            display: none;
            list-style: none;
        }
        #detailed4 li{
            line-height: 25px;
        }
        #item4:hover #detailed4{
            display: block;
            position: absolute;
            right: -60%;
            top: 0;
            background: #318494;
            padding: 10px;
            color: #fff;
        }
    </style>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/headerFooter.css" />
</head>

<body>
    <header>
        <nav class="navInfo">
            <div class="navInfo-item">
                <div><i class="fad fa-phone-volume"></i></div>
                <div class="navInfo-detail">
                    <p>+91 84-6786-8786</p>
                </div>
            </div>
            <div class="navInfo-item">
                <div><i class="fad fa-mail-bulk"></i></div>
                <div class="navInfo-detail">
                    <p>cadtechnologiescam@gmail.com</p>
                </div>
            </div>
            <div class="social-sites">
                <a href="https://m.facebook.com/1898573663605340/" class="social-icon"><img src="https://img.icons8.com/fluency/25/000000/facebook.png"/></a>
                <a href="https://www.instagram.com/cadtechnologies/"class="social-icon" ><img src="https://img.icons8.com/color/25/000000/instagram-new--v2.png"/></a>
                <a href="" class="social-icon"><img src="https://img.icons8.com/color/25/000000/twitter--v2.png"/></a>
                <a href="" class="social-icon"><img src="https://img.icons8.com/color/25/000000/youtube-play.png"/></a>
                <a href="https://www.linkedin.com/company/cad-technologie/?viewAsMember=true" class="social-icon"><img src="https://img.icons8.com/color/25/000000/linkedin.png"/></a>
                <a href="https://www.google.com/localservices/profile?g2lbs=AGgkzMxQTjUTqR7H8KhsqKhXRmHnglmBqDXHORfORY8-p9k82J7T3_6cBr64xyrHgYNeATmbGCtF&hl=en-IN&gl=in&authuser=3&ssta=1&scp=ChtnY2lkOmVuZ2luZWVyaW5nX2NvbnN1bHRhbnQSggESEgmzIl338w8NORFY_DgoLAPwiCJWTmFuZ2xpIFZpaGFyIEV4dGVuc2lvbiBQYXJ0IDEsIEluZHJhIFBhcmssIEJsb2NrIEUsIE5hbmdsaSBTYWtyYXdhdGksIE5ldyBEZWxoaSwgRGVsaGkqFA0AGw8RFbZ05S0dyr0PESX7oOYtGhBjYWQgdGVjaG5vbG9naWVzIhBjYWQgdGVjaG5vbG9naWVzKhZFbmdpbmVlcmluZyBjb25zdWx0YW50&spp=Cg0vZy8xMXNwbjBwczM3&src=2&q=CAD+Technologies+New+Delhi,+Delhi&sa=X&ved=2ahUKEwj_pJeIlLf2AhXuwjgGHcQUA4kQkbkFegQIUhAb" class="social-icon"><img src="https://img.icons8.com/fluency/25/000000/google-plus-squared.png"/></a>
            </div>
        </nav>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark ps-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="logoImage" src="./images/cad2.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CAD Training
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li id="item1">
                                <a class="dropdown-item" href="/civilEngg">Civil CAD Softwares</a>
                                <ul id="detailed1">
                                    <li>AUTOCAD 2D + 3D</li>
                                    <li>STAAD Pro</li>
                                    <li>Revit Structure</li>
                                    <li>AutoCAD Civil 3D</li>
                                    <li>Tekla Structural Designer</li>
                                </ul>
                            </li>
                            <li id="item2">
                                <a class="dropdown-item" href="/interiorDesign">Interior and Architecture</a>
                                <ul id="detailed2">
                                    <li>Lumion</li>
                                    <li>Photoshop for Interior</li>
                                    <li>SketchUp</li>
                                    <li>Revit Architecture</li>
                                    <li>3DS MAX (Advanced)</li>
                                    <li>AutoCAD</li>
                                </ul>
                            </li>
                            <li id="item3">
                                <a class="dropdown-item" href="/architecDesign">Mechanical CAD Softwares</a>
                                <ul id="detailed3">
                                    <li>CATIA</li>
                                    <li>NX Mold Design</li>
                                    <li>NX CAD</li>
                                    <li>AutoCAD</li>
                                    <li>SolidWorks</li>
                                    <li>ArtCAM</li>
                                </ul>
                            </li>
                            <li id="item4">
                                <a class="dropdown-item" href="/structDesign">Electrical CAD Softwares</a>
                                <ul id="detailed4">
                                    <li>Revit MEP</li>
                                    <li>AutoCAD Electrical</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CAD Services
                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Building Structural Design</a></li>
                                <li><a class="dropdown-item" href="#">Interior Designing</a></li>
                                <li><a class="dropdown-item" href="#">Housing Plan,Building Plan</a></li>
                                <li><a class="dropdown-item" href="#">Architerunt Plan</a></li>
                                <li><a class="dropdown-item" href="#">Commericial Building Drawing</a></li>
                            </ul>
                        </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/carrers">Carrers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="content">
                <h1>CAD Technologies</h1>
                <p>CAD Technologies has well equipped facilities, competent faculties & ISO 9001:2015 Certified quality management systems for conducting these educational programs</p>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./images/crusal1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/crusal2.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/crusal3.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        <div class="crus-content">
            <div class="crus-content-div crus-content-one">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-layer-group fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>CAD/CAM/CAE Softwares</h3>
                        </div>
                        <div>
                            <p>Build Anything, Design Anything, Draw Anything, Planning Anything etc..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crus-content-div crus-content-two">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-chalkboard fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>Teaching</h3>
                        </div>
                        <div>
                            <p>Our Every Staffs are Professional And they have 5 Years spend in Own profession.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crus-content-div crus-content-three">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-phone-volume fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>Life Time Support</h3>
                        </div>
                        <div>
                            <p>You can Reach to us anytime, We will give our best</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience">
        <div class="experience-inner container d-flex mb-5 mt-5 pt-5">
            <div class="experience-img">
                <img src="./images/home_about.jpeg" alt="...">
            </div>
            <div class="experience-content">
                <h1>Welcome to CAD Technologies</h1>
                <p style="width: 30vw;height:5px;background:#664d03"></p>
                <p>CAD Technologies is CAD CAM CAE Training Center is established in the year 2015 with the association of experienced professionals. The objective of this association is not only just to teach softwares to students/working professionals but also prepare them technically strong in various domains & assist them to grab best jobs in various industries.
CAD Technologies is leading training organization in the field of CAD/CAM/CAE
which caters Mechanical, Civil, Interior, Architecture, Electrical & Electronics Engineering design training. Our courses are truly industries specific which meets the present demand of design engineering. After completion of courses our team of experts provides various tips which help candidates to crack interview rounds - Aptitude, Technical & HR etc..
CAD Technologies is having collaboration with many companies in New Delhi, Delhi to fulfil their employee demand. This makes sure that our candidates do not have to look for job outside. They just have to learn and get placed after training completion.
CAD Technologies has well equipped facilities, competent faculties & ISO 9001:2015 Certified quality management systems for conducting these educational programs.</p>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="cont">
            <h5>Our Services</h5>
            <h1>Our Top Four Services</h1>
            <div class="items">
                <div class="services-items">
                    <div class="service-item">
                        <img src="./images/autocad.jpeg" alt="...">
                        <div class="service-content">
                            <p>AutoCAD is a commercial computer-aided design and drafting software application. Developed and marketed by Autodesk.
AutoCAD is used in industry, by architects, project managers, engineers, graphic designers, city planners and other professionals.
AutoCAD stands for Computer-Aided Design. This software used for designing and drafting. It allows a user to conceptualize ideas, product designs and drawings to the required level of technical accuracy, perform rapid design calculations and simulations in the field of manufacturing industries.</p>
                        </div>
                        <h1>AutoCAD</h1>
                    </div>
                    <div class="service-item">
                        <img src="./images/3dxmax.webp" alt="...">
                        <div class="service-content">
                            <p>Autodesk 3ds Max, formerly 3D Studio and 3D Studio Max, is a professional 3D computer graphics program for making 3D animations, models, games and images.
It is frequently used by video game developers, many TV commercial studios, and architectural visualization studios. It is also used for movie effects and movie pre-visualization. For its modeling and animation tools.</p>
                        </div>
                        <h1>3DS Max</h1>
                    </div>
                    <div class="service-item">
                        <img src="./images/solidworks.jpeg" alt="...">
                        <div class="service-content">
                            <p>SolidWorks is a solid modeling computer-aided design and computer-aided engineering computer program.
SOLIDWORKS is used to develop mechatronics systems from beginning to end. At the initial stage, the software is used for planning, visual ideation, modeling, feasibility assessment, prototyping, and project management. The software is then used for design and building of mechanical, electrical, and software elements.</p>
                        </div>
                        <h1>SolidWorks</h1>
                    </div>
                    <div class="service-item">
                        <img src="./images/nx.jpeg" alt="...">
                        <div class="service-content">
                            <p>NX, formerly known as "unigraphics", is an advanced high-end CAD/CAM/CAE.
Siemens NX software is a flexible and powerful integrated solution that helps you deliver better products faster and more efficiently. NX delivers the next generation of design, simulation, and manufacturing solutions that enable companies to realize the value of the digital twin.
NX offers high-performance modeling, drafting and assembly design- powered by Synchronous Technology -that can't be beat.</p>
                        </div>
                        <h1>NX</h1>
                    </div>
                </div>
                {{!-- <div class="services-items">
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092466119-67c548e980f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092457199-73eabc7d31fe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092583537-20d51b4b4f1b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                </div>
                <div class="services-items">
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092456330-2e593838bb25?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094487600-9d2381d4eeef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094378626-7b436b695232?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                </div> --}}
            </div>
        </div>
    </div> 
{{!-- 
    <div class="team mb-5">
        <h5 class="team-h5">Our Team</h5>
        <h1>Meet With Our Team</h1>
        <div class="team-inner container mt-3">
            <div class="team-member">
                <img src="./images/profile.jpeg" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1581093446763-7fd358f5a69b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQwfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1580982175561-7b0b42d770be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMxfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1580983694098-1355032dde9e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
        </div>
    </div> --}}

<div>
    <iframe style="width: 100%; height: 80vh; padding: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1751.1770100163271!2d77.03275832550062!3d28.61914999574895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05cf6461ad0f%3A0xb4c4b01e36f0b749!2sCAD%20Technologies!5e0!3m2!1sen!2sin!4v1646761384969!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
    <footer class="text-center text-lg-start">

        <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>

            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </section> -->

        <section class="pt-5">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase footCom fw-bold mb-4">
                            <i class="fad fa-layer-group"></i></i>CAD Technologies
                        </h6>
                        <p>
                            CAD Technologies is CAD CAM CAE Training Center is established in the year 2015.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase footLink fw-bold mb-4">
                            CAD Training
                        </h6>
                        <p>
                            <a href="/civilEngg" class="text-reset">Civil CAD Softwares</a>
                        </p>
                        <p>
                            <a href="/interiorDesign" class="text-reset">Interior and Architecture</a>
                        </p>
                        <p>
                            <a href="/architecDesign" class="text-reset">Mechanical CAD Softwares</a>
                        </p>
                        <p>
                            <a href="/structDesign" class="text-reset">Electrical CAD Softwares</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase footLink fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="/" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="/about" class="text-reset">About Us</a>
                        </p>
                        <p>
                            <a href="/carrers" class="text-reset">Carrers</a>
                        </p>
                        <p>
                            <a href="/contact" class="text-reset">Contact Us</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Dwarka Mor, New Delhi 110084, INDIA</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>cadtechnologiescam@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i>+91 84-6786-8786</p>
                    </div>

                </div>

            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgb(29 81 96);color: #fff;">
            © 2021 Copyright:
            <span style="border-bottom: 1px solid #fff;">CAD Technologies</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script> --}}



</body>

</html>