<!DOCTYPE html>
<html lang="en">
<!--
font-family: 'Inter', sans-serif; -> menu
font-family: 'Lobster', cursive; -> logo
font-family: 'PT Serif', serif; -> para
-->




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dignity</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aW50ZXJpb3IlMjBkZXNpZ25lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'PT Serif', serif;
        }
    </style>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/headerFooter.css" />
</head>

<body>
    <header>
        <nav class="navInfo">
            <div class="navInfo-item-first navInfo-item">
                <div><i class="fad fa-building"></i></div>
                <div class="navInfo-detail">
                    <p>Opening Time:</p>
                    <p>Sat-Thur,10:00AM-6:00PM</p>
                </div>
            </div>
            <div class="navInfo-item">
                <div><i class="fad fa-phone-volume"></i></div>
                <div class="navInfo-detail">
                    <p>Call Us:</p>
                    <p>+919910608239</p>
                </div>
            </div>
            <div class="navInfo-item">
                <div><i class="fad fa-mail-bulk"></i></div>
                <div class="navInfo-detail">
                    <p>Email Us:</p>
                    <p>asgar97.ali@gmail.com</p>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark ps-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Interior And Architecture Design</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CAD Training
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/civilEngg">Civil Engineering</a></li>
                            <li><a class="dropdown-item" href="/interiorDesign">Interior Design</a></li>
                            <li><a class="dropdown-item" href="/architecDesign">Architecture Design</a></li>
                            <li><a class="dropdown-item" href="/structDesign">Structural Design</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CAD Services
                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Building Structural Design</a></li>
                                <li><a class="dropdown-item" href="#">Interior Designing</a></li>
                                <li><a class="dropdown-item" href="#">Housing Plan,Building Plan</a></li>
                                <li><a class="dropdown-item" href="#">Architerunt Plan</a></li>
                                <li><a class="dropdown-item" href="#">Commericial Building Drawing</a></li>
                            </ul>
                        </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/carrers">Carrers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="content">
                <h1>Dignity Interior And Architecture Design</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea reiciendis quidem iusto aliquam quasi consequuntur aspernatur veritatis excepturi corrupti odio!</p>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1611048268283-11b289133fa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1618219740975-d40978bb7378?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aW50ZXJpb3IlMjBkZXNpZ25lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=51400&q=80" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aW50ZXJpb3IlMjBkZXNpZ25lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        <div class="crus-content">
            <div class="crus-content-div crus-content-one">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-layer-group fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>3D-Autocad</h3>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crus-content-div crus-content-two">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-chalkboard fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>Teaching</h3>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crus-content-div crus-content-three">
                <div class="crus-content-innerdiv">
                    <div><i class="fad fa-phone-volume fa-2x"></i></div>
                    <div>
                        <div>
                            <h3>24/7 Support</h3>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience">
        <div class="experience-inner container d-flex mb-5 mt-5 pt-5">
            <div class="experience-img">
                <img src="https://images.unsplash.com/photo-1618221639244-c1a8502c0eb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="...">
            </div>
            <div class="experience-content pt-5 m-2 p-2">
                <h5>Welcome to Dignity Interior and Architecture Design</h5>
                <h1>10 YEARS EXPERIENCE</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, nihil quisquam. Maxime fuga nisi corrupti eaque exercitationem sed ad harum earum non dolor quis, doloribus itaque dicta provident dolores suscipit excepturi libero. Laboriosam
                    quibusdam sed blanditiis ipsum optio nulla. Nihil explicabo minus, odit enim ipsam suscipit maxime necessitatibus ipsa sequi.</p>
            </div>
        </div>
    </div>

    <!-- <div class="services">
        <div class="container">
            <h5>Our Services</h5>
            <h1>We Provides Services</h1>
            <div class="items">
                <div class="services-items">
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094368940-5a08c24fd0a7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2l2aWwlMjBlbmdpbmVlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1598517834689-bc93b1e300da?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094377969-665dbb7f5da7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                </div>
                <div class="services-items">
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092466119-67c548e980f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092457199-73eabc7d31fe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092583537-20d51b4b4f1b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                </div>
                <div class="services-items">
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581092456330-2e593838bb25?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094487600-9d2381d4eeef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                    <div class="service-item">
                        <img src="https://images.unsplash.com/photo-1581094378626-7b436b695232?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGNpdmlsJTIwZW5naW5lZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                        <div class="service-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet vitae dicta saepe quae iure dolores libero doloremque nam architecto.</p>
                        </div>
                        <h1>heading</h1>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="team mb-5">
        <h5 class="team-h5">Our Team</h5>
        <h1>Meet With Our Team</h1>
        <div class="team-inner container mt-3">
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1581092923306-41e83a345317?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1581093446763-7fd358f5a69b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQwfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1580982175561-7b0b42d770be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMxfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
            <div class="team-member">
                <img src="https://images.unsplash.com/photo-1580983694098-1355032dde9e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxjaXZpbCUyMGVuZ2luZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
                <div class="team-detail">
                    <h5>member team</h5>
                    <p>description</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="text-center text-lg-start">

        <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>

            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </section> -->

        <section class="pt-5">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase footCom fw-bold mb-4">
                            <i class="fad fa-layer-group"></i></i>Dignity
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase footLink fw-bold mb-4">
                            CAD Training
                        </h6>
                        <p>
                            <a href="/civilEngg" class="text-reset">Civil Engineering</a>
                        </p>
                        <p>
                            <a href="/interiorDesign" class="text-reset">Interior Design</a>
                        </p>
                        <p>
                            <a href="/architecDesign" class="text-reset">Architecture Design</a>
                        </p>
                        <p>
                            <a href="/structDesign" class="text-reset">Structural Design</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase footLink fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="/" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="/about" class="text-reset">About Us</a>
                        </p>
                        <p>
                            <a href="/carrers" class="text-reset">Carrers</a>
                        </p>
                        <p>
                            <a href="/contact" class="text-reset">Contact Us</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Dwarka Mor, New Delhi 110084, INDIA</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> asgar97.ali@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +919910608239</p>
                    </div>

                </div>

            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgb(29 81 96);color: #fff;">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="/">Dignity Interior And Architecture Design</a>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


</body>

</html>